.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/public/system
/coverage/
/spec/tmp

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

config/initializers/secret_token.rb
config/master.key

.env
.env.*

/.bundle
/vendor/bundle

.byebug_history

node_modules/

/public/packs
/public/packs-test
/public/assets

/yarn-error.log
yarn-debug.log*
.yarn-integrity

/storage/*
!/storage/.keep
/public/uploads